<a href="#">
  <div class="listaPizzas-info-box">
    <span class="listaPizzas-info-box-icon"><img [src]="pizza.imagePath"></span>
    <div class="listaPizzas-info-box-content">
      <span class="listaPizzas-info-box-text">{{pizza.nome}}</span>
      <span class="listaPizzas-info-box-star"><i class="fa fa-star" aria-hidden="true"></i>{{pizza.rank}}</span>
      <span class="listaPizzas-info-box-detail">{{pizza.ingredientes}}</span>
      <span class="listaPizzas-info-box-detail">{{pizza.preco}}</span>
    </div>
  </div>
</a>